<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.png>
    <title>EvMan.io</title>
    <%= render :partial => 'assets' %>
    <% if ENV['GOOGLE_ANALYTICS'] %>
      <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '<%= ENV['GOOGLE_ANALYTICS'] %>' , 'auto');
          ga('send', 'pageview');
      </script>
    <% end %>
</head>

<body>

<div id="permanent-elements" data-turbolinks-permanent>
  <%= render partial: "layouts/confirm_dialog" %>

  <div id="modal-manager-container" class="modalDialogBase"></div>
</div>
<div class="modalDialogBase">
  <div class="modalDialogContent modal" role="dialog" aria-labelledby="" aria-hidden="true">
  </div>
</div>


<%= yield %>